
@font-face {
  font-family: 'Kegger';
  src: url("https://use.typekit.net/lov1diw.css");
}

@font-face {
  font-family: 'Expo-Sans';
  src: url("https://use.typekit.net/lov1diw.css");
}

body {
  background-image: url("pexels-ricky-esquivel-2627063.jpg");
  background-size: cover;
  background-repeat: none;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  align-items: center;
}

header {
  width: 100%;
}
#mastImg {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin: 10px;
  margin-top: 40px;
  width: 100%;
}

.wcuLogo {
  
  text-decoration: none;
  color: #294973;
  font-weight: bold;
  width: 70px;
  height: 70px;
}

img {
 color: #f0f0f0;
 display: flex;
 width: 80%;
 justify-self: flex-start;
 margin-right: 40px;
}

.wickNavBar {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  display: flex;
}

.wickNavBar li {
  margin-right: 10px;
}

.wickNavBar li:last-child {
  margin-right: 0;
}

.wickNavBar li a {
  font-family: Kegger, sans-serif;
  text-decoration: none;
  color: #294973;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.wickNavBar li a:hover {
  background-color: #294973;
  color: #f0f0f0;
}

.wickSectionIntro {
  display: flex;
  align-content: center;
}

h6 {
  font-family: 'Expo-Sans', sans-serif;
  font-style: normal;
  display: flex;
  justify-content: end;
  color: #f0f0f0;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 1%;
}

.Intro {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
button#expWick {
  background-color: #f0f0f0;
  font-family: 'Expo-Sans', sans-serif;
  font-style: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  width: 200px;
  padding: 15px;
}

div.Intro h2 {
  display: flex;
  justify-content: end;
  font-family: Kegger, sans-serif;
  font-weight: bold;
  color: #fafcfd;
  margin: 0;
  padding: 0;
}

.wickwrapper {
  display: flex;
  justify-content: end;
  
  width: 100%;
}

#wickSection1 {
  font-family: 'Expo-Sans', sans-serif;
  background-color: #f0f0f0;
  color: #000;
  display: flex;
  align-self: center;
  padding: 50px;
  
}

#wickSection2 {
  font-family: 'Expo-Sans', sans-serif;
  background-color: #f0f0f0;
  color: #000;
  display: flex;
  align-self: center;
  padding: 50px;
  
}

#wickSection3 {
  font-family: 'Expo-Sans', sans-serif;
  background-color: #f0f0f0;
  color: #000;
  display: flex;
  align-self: center;
  padding: 50px;
  
}

#wickSection4 {
  color: #000;
  display: flex;
}

.run-on-section {
  display: flex;
  align-self: center;
  justify-content: center;
  justify-content: space-between;
  margin: 50px;
  padding: 30px;
}

.run-on-section section {
  flex: 1;
  margin: 10px;
}

.lowerWickSection img {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 30px;
}

.wickText {
  display: flex;
  flex-direction: column;
  background-position: 0%;
}

#wickFoot {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding-top: 5px;
  background-color: #000;
  color: #f0f0f0;
  width: 100%;
  height: 60px;
  margin-top: auto;

}
