body {
  background-image: url("pexels-ricky-esquivel-2627063.jpg");
  background-size: cover;
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin: 10px;
  margin-top: 40px;
  width: 100%;
}

.wcuLogo {
  text-decoration: none;
  color: #294973;
  font-weight: bold;
  width: 200px;
  height: 70px;
}

.wickNavBar {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  display: flex;
}

.wickNavBar li {
  margin-right: 10px;
}

.wickNavBar li:last-child {
  margin-right: 0;
}

.wickNavBar li a {
  text-decoration: none;
  color: #294973;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.wickNavBar li a:hover {
  background-color: #294973;
  color: #f0f0f0;
}

.wickSectionIntro {
  display: flex;
  align-content: center;
}

h6 {
  display: flex;
  justify-content: center;
  color: #f0f0f0;
}

.Intro {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
#expWick {
  align-self: center;
  width: 200px;
  padding: 15px;
}

div.Intro h1 {
  font-weight: bold;
  color: #294973;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.wickwrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#wickSection1 {
  color: #000;
  display: flex;
  align-self: center;
  padding: 130px;
}

#wickSection2 {
  color: #000;
  display: flex;
  align-self: center;
  padding: 130px;
}

#wickSection3 {
  color: #000;
  display: flex;
  align-self: center;
  padding: 130px;
}

#wickSection4 {
  color: #000;
  display: flex;
}

.run-on-section {
  display: flex;
  align-self: center;
  justify-content: center;
  justify-content: space-between;
  margin: 50px;
  padding: 30px;
}

.run-on-section section {
  flex: 1;
  margin: 10px;
}

.lowerWickSection img {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 30px;
}

.wickText {
  display: flex;
  flex-direction: column;
  background-position: 0%;
}

footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
}
