
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  
  header nav  {
    
    display: flex; 
    justify-content: space-between; 
    padding: 10px;
    padding-bottom: 40px;
    margin: 10px;
  }

  
 
  .wcuLogo {
    text-decoration: none;
    color: #294973;
    font-weight: bold;
  }
  
  
  .wickNavBar {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    display: flex; 
  }
  
 
  .wickNavBar li {
    margin-right: 10px;
  }
  
 
  .wickNavBar li:last-child {
    margin-right: 0;
  }
  
  
  .wickNavBar li a {
    text-decoration: none;
    color: #294973;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  
  .wickNavBar li a:hover {
    background-color: #294973;
    color: #f0f0f0;
  }
  

   


.wickSectionIntro {
  background-color: #5A708C;
  width: auto;
  width: 700px;
  height: 700px;
  
  
}

div.Intro h1 {
  font-weight: bold;
  color: #294973;
  font-size: 40px;
  text-align: right;
  margin: 0;
  padding: 0;
}

div.Intro {
  align-self: center;
  padding-right: 40px;
 
}


.wickSection1 {

  display: inline-block;
  color: #5A708C;
}


.wickwrapper {

  display: flex;
  justify-content: space-between;
  
}